* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  scroll-behavior: smooth;
  background-color: #ccc;
}

#container {
  max-width: 900px;
  min-height: 100%;
  margin: 0 auto;
  border: 1px solid orange;
}

.photo {
  border: 1px solid #505050;
  border-radius: 50px;
}

.header__title,
.subtitle,
.post__title {
  margin-bottom: 15px;
  color: #505050;
}

.header__title {
  font-size: 40px;
  text-transform: uppercase;
}

.post__title {
  margin-bottom: 15px;
  font-size: 16px;
  font-style: italic;
}

.post {
  margin-bottom: 15px;
  padding: 15px;
  border: 3px solid #000;
  border-radius: 5px;
  background-color: #fff;
}

.post__content {
  margin-bottom: 15px;
  text-transform: capitalize;
}

.contact__list {
  padding: 0 20px;
  list-style: none;
}

.contact__list li a {
  text-decoration: none;
}

a {
  text-decoration: line-through;
}
